<head>
    <link rel="stylesheet" href="./css/style2.css">
</head>

<body>
    <div class="box">
        <form action="/users/login" method="POST">
            <p> <input type="text" name="username" placeholder="请输入账号" class="input"></p>
            <p> <input type="password" name="password" placeholder="请输入密码" class="input"></p>
            <input type="submit" value="登录" class="but" style="font-size: 20px;">
            <a href="/register">立即注册</a>
        </form>
    </div>
</body>