<head>
    <link rel="stylesheet" href="./css/style2.css">
</head>

<body>
    <div class="box">
        <form action="/users/register" method="POST">
            <p> <input type="text" name="username" placeholder="请输入账号" class="input"></p>
            <p> <input type="password" name="password" placeholder="请输入密码" class="input"></p>
            <p> <input type="password" name="password2" placeholder="再次输入密码" class="input"></p>
            <input type="submit" value="注册" class="but" style="font-size: 20px;"> 
        </form>
    </div>
</body>